<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Advanced React App</title>
</head>
<body>
    <div id="root"><%- initialContent -%></div>

    <script src="/bundle.js" charset="UTF-8"></script>
</body>
</html>